body {
  margin: 0;
  background-color: #1A1A1D;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.navbar-dark {
  border: 3px solid #C3073F;
  border-radius: 5px;
  margin: 2px;
}
.navbarbrand {
  font-size: 2rem;
  color : rgb(228, 27, 27);
  font-weight: bold;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: linear-gradient(20deg, #950740 ,  #c93232);
  position: relative;
}

.jumboBox
{
    border: 0px solid white;
    position: absolute;
    animation : Shot 12s infinite; 
}
.jumboNames{
    color: floralwhite;
    font-size: 2rem;
    font-style: oblique;
    font-weight: bolder;
    overflow: hidden;
}


.jumboNames > .jumbos:nth-child(1)
{
    transform: translateX(-100%);
    animation: slide1 12s infinite;
}

.jumboNames > .jumbos:nth-child(2)
{
    transform: translateX(-100%);
    animation: slide2 12s infinite;
}

.jumboNames > .jumbos:nth-child(3)
{
    transform: translateX(-100%);
    animation: slide3 12s infinite;
}

.jumboBalls 
{
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: space-around;
 position: absolute;
 bottom: 0%;
 left:0%;
}
.jumboBalls  img
{
 width: 1.8rem;
}

.jumboBalls  > img:nth-child(1)
{
    width: 0.8rem;
    animation: Bubble1 12s infinite;
}

.jumboBalls  > img:nth-child(2)
{
    width: 1.8rem;
    animation: Bubble2 12s infinite;
}
.jumboBalls  > img:nth-child(3)
{
    width: 0.7rem;
    animation: Bubble3 12s infinite;
}
.jumboBalls  > img:nth-child(4)
{
    width: 2.5rem;
    animation: Bubble4 12s infinite;
}
.jumboBalls  > img:nth-child(5)
{
    width: 0.8rem;
    animation: Bubble5 12s infinite;
}

.loader
{
    animation: fillLoad 4s infinite alternate;
} 

.brandName 
{
  width : 3rem;
  height: 3rem;
  animation: fillName 4s infinite alternate;
}


.brandName > path:nth-child(1)
{
    stroke: red;
    stroke-dasharray: 3000px;
    stroke-dashoffset: 3000px;
    animation: anime 4s infinite alternate;
}

.loader > path:nth-child(1)
{
    stroke-dasharray: 180px;
    stroke-dashoffset: 180px;
    animation: anime 4s infinite alternate;
}

.loader > path:nth-child(2)
{
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;
    animation:  anime 4s infinite alternate;
}

.loader > path:nth-child(3)
{
    stroke-dasharray: 175px;
    stroke-dashoffset: 175px;
    animation: anime 4s infinite alternate;
}

.loader > path:nth-child(4)
{
    stroke-dasharray: 200px;
    stroke-dashoffset: 200px;
    animation:  anime 4s infinite alternate;
}

.loader > path:nth-child(5)
{
    stroke-dasharray: 110px;
    stroke-dashoffset: 110px;
    animation:  anime 4s infinite alternate;
}

.loader > path:nth-child(6)
{
    stroke-dasharray: 245px;
    stroke-dashoffset: 245px;
    animation: anime 4s infinite alternate;
}

.loader > path:nth-child(7)
{
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
    animation:  anime 4s infinite alternate;
}

@keyframes anime
{
    to
    {
        stroke-dashoffset: 0px;
    }
}

@keyframes fillLoad
{
    from
    {
        fill: transparent;
    }
    to
    {
        fill: white;
    }
}

@keyframes fillName
{
    from
    {
        fill: transparent;
    }
    to
    {
        fill: rgb(224, 50, 50);
    }
}



@keyframes Shot
{
    0%
    {
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        border: 0px solid #950740;
    }

    67%
    {
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        border: 0px solid #950740;
    }

    71%
    {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        border: 5px solid floralwhite;
    }
    73%
    {
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
    }
    75%
    {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
    }
    95%
    {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        border: 5px solid floralwhite;
    }
    100%
    {
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        border: 0px solid #950740;
    }
}

@keyframes slide1
{
    0%
    {
        transform: translateX(-140%);
    }
    10%
    {
        transform: translateX(0%);
    }
    30%
    {
        transform: translateX(0%);
    }
    40%
    {
        transform: translateX(-140%);
    }
    
    100%
    {
        transform: translateX(-140%);
    }
}
@keyframes slide2
{
    0%
    {
        transform: translateX(-140%);
    }
    30%
    {
        transform: translateX(-140%);
    }
    40%
    {
        transform: translateX(0%);
    }
    60%
    {
        transform: translateX(0%);
    }
    70%
    {
        transform: translateX(-140%);
    }
    100%
    {
        transform: translateX(-140%);
    }
}
@keyframes slide3
{
    0%
    {
        transform: translateX(-140%);
    }
    60%
    {
        transform: translateX(-140%);
    }
    70%
    {
        transform: translateX(0%);
    }
    90%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-140%);
    }
}


@keyframes Bubble1
{
    0%
    {
        opacity: 0;
        transform: translateY(200%);
    }
    10%
    {
        opacity: 0;
        transform: translateY(200%);
    }
    20%
    {
        opacity: 1;
    }
    73%
    {
        transform: translateY(-180%);
    }
    95%
    {
        opacity: 1;
        
    }
    100%
    {
        opacity: 0;
        transform: translateY(-180%);
    }
}

@keyframes Bubble2
{
    0%
    {
        opacity: 0;
        transform: translate(200%,100%);
    }
    10%
    {
        opacity: 0;
        transform: translate(200%,100%);
    }
    20%
    {
        opacity: 1;
    }
    73%
    {
        transform: translate(-100%,-150%);
    }
    95%
    {
        opacity: 1;
        
    }
    100%
    {
        opacity: 0;
        transform: translate(-100%,-150%);
    }
}


@keyframes Bubble3
{
    0%
    {
        opacity: 0;
        transform: translate(-100%,150%);
    }
    10%
    {
        opacity: 1;
    }
    73%
    {
        transform: translate(200%,-200%);
    }
    95%
    {
        opacity: 1;
        
    }
    100%
    {
        opacity: 0;
        transform: translate(200%,-200%);
    }
}


@keyframes Bubble4
{
    0%
    {
        opacity: 0;
        transform: translate(200%,-100%);
    }
    10%
    {
        opacity: 0;
        transform: translate(200%,-100%);
    }
    20%
    {
        opacity: 1;
    }
    73%
    {
        transform: translate(-150%,150%);
    }
    95%
    {
        opacity: 1;
        
    }
    100%
    {
        opacity: 0;
        transform: translate(-150%,150%);
    }
}


@keyframes Bubble5
{
    0%
    {
        opacity: 0;
        transform: translate(200%,150%);
    }
    10%
    {
        opacity: 0;
        transform: translate(200%,150%);
    }
    20%
    {
        opacity: 1;
    }
    73%
    {
        transform: translate(-150%,-150%);
    }
    95%
    {
        opacity: 1;
        
    }
    100%
    {
        opacity: 0;
        transform: translate(-150%,-150%);
    }
}


/* form */


.form
{
  background-color: #1F2833;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  color: floralwhite;
  box-shadow: 0 0 0 rgb(0,0,0), 0 0 5px rgb(245, 245, 245),0 0 0 rgb(0,0,0), 0 0 5px rgb(245, 245, 245);
}

.messages , .card ,
{
    color: floralwhite;
    text-align: center;
    font-size: 1.5rem;
}

.card {
    background: linear-gradient(20deg, #950740 ,  #c93232);
    padding: 5px;
    margin: 5px;
}
.card img{
    padding: 10px;
}
.card button{
    background-color: #4E4E50;
}


/* footer */

.footer{
    background-color:  #4E4E50;
    margin: 0px auto;
    padding: 5px 0px 5px 0px;
    color: floralwhite;
    font-size: 1.2rem;
  }
  